.bg-Blueish{
background-image: url("../Ui/Assets/Icons/Bg.png");
}
.bg-Trans{
    background-color: rgba(255, 255, 255, 0);
}
.Rounded{
    border-radius: 10px;
}
.shadow{
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.118);
}
.Border-none{
border: none;
}
.Bg-white-Trans{
    background: rgba(255, 255, 255, 0.92);
}
.Bg-white-Barley-Trans{
    background: rgba(255, 255, 255, 0.89);
}
.Bg-white{
    background: white;
}
.SettingsIcon{
    background: url("../Ui/Assets/Icons/Settings.svg");
    background-repeat: no-repeat;
    background-size: contain;

}
.HomeIcon{
    background: url("../Ui/Assets/Icons/Home.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.Rounded{
    border-radius: 20px;
}
.Bg-Gradient-Bluish{
    background:  linear-gradient(to left,#e5f3f9 ,#eff7fa);
}
.Bg-Gradient-icy{
    background:  linear-gradient(to top,#d3edf7,#e0f2f8  ,#edf7fa  ,#edfbff ,#edf7fa );
}
.text-black{
    color: black;
}
.Opacity-80{
opacity: 1
}
