
.bg-Trans{
    background-color: rgba(255, 255, 255, 0);
}
.Rounded{
    border-radius: 10px;
}
.shadow{
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.118);
}
.small_shadow{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.118);
}
.Noshadow{
    box-shadow:none;
}
.Border-none{
border: none;
}

.SettingsIcon{
    background: url("Ui/Assets/Icons/Settings.svg");
    background-repeat: no-repeat;
    background-size: contain;

}
.LeftSideBg{
    background: url("Ui/Assets/Icons/LeftSideBg.svg");
    background-repeat: no-repeat;
    background-size: cover;

}
.HomeIcon{
    background: url("Ui/Assets/Icons/Home.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.CheckIcon{
    background: url("Ui/Assets/Icons/Check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.BorderlessCheckIcon{
    background: url("Ui/Assets/Icons/BorderlessCheck.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.Rounded{
    border-radius: 10px;
}
.Rounded-left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.Rounded-Right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.Bg-White{
    background-color: #fff;
}
.Bg-Dark-Trans{
    background-color: rgba(0, 0, 0, 0.026);
}
.Text-White{
    color: #fff;
}
.Bg-Dark{
    background-color: #1f203e;
}
.Bg-SecondaryColor{
    background:linear-gradient(to right, #91daff,#bae2fb)
}

.Border_Left{
    border-left: 1px white solid;
}
.border{
    border: 1px solid;
}

.border-black{
    border-color: black;
}
.OnClick:active{
    background-color: #91daff;
}
